<footer class="footer">
  <div class="wrapper wrapper--narrow wrapper--footer ">
    <a href="/">
      <h3>{{ sitetitle }}</h3>
    </a>
    <div class="footer__details">
      <a href="/data-policy">
        <h5>data policy</h5>
      </a>
      <a href="/imprint">
        <h5>imprint</h5>
      </a>
      <h5>{{ currentYear }}</h5>
    </div>
  </div>
  <!--
  <div class="screen-width">
    <div class="blah"></div>
    <p id="screen-width-text"></p>
  </div>
      -->
</footer>