$dark-contrast-menu-gradient: #f0f0f0;

$primary-color-100: #bbcf02ff;
$primary-color-99: #bbcf02fc;
$primary-color-98: #bbcf02f9;
$primary-color-97: #bbcf02f7;
$primary-color-96: #bbcf02f4;
$primary-color-95: #bbcf02f2;
$primary-color-94: #bbcf02ef;
$primary-color-93: #bbcf02ed;
$primary-color-92: #bbcf02ea;
$primary-color-91: #bbcf02e8;
$primary-color-90: #bbcf02e5;
$primary-color-89: #bbcf02e2;
$primary-color-88: #bbcf02e0;
$primary-color-87: #bbcf02dd;
$primary-color-86: #bbcf02db;
$primary-color-85: #bbcf02d8;
$primary-color-84: #bbcf02d6;
$primary-color-83: #bbcf02d3;
$primary-color-82: #bbcf02d1;
$primary-color-81: #bbcf02ce;
$primary-color-80: #bbcf02cc;
$primary-color-79: #bbcf02c9;
$primary-color-78: #bbcf02c6;
$primary-color-77: #bbcf02c4;
$primary-color-76: #bbcf02c1;
$primary-color-75: #bbcf02bf;
$primary-color-74: #bbcf02bc;
$primary-color-73: #bbcf02ba;
$primary-color-72: #bbcf02b7;
$primary-color-71: #bbcf02b5;
$primary-color-70: #bbcf02b2;
$primary-color-69: #bbcf02af;
$primary-color-68: #bbcf02ad;
$primary-color-67: #bbcf02aa;
$primary-color-66: #bbcf02a8;
$primary-color-65: #bbcf02a5;
$primary-color-64: #bbcf02a3;
$primary-color-63: #bbcf02a0;
$primary-color-62: #bbcf029e;
$primary-color-61: #bbcf029b;
$primary-color-60: #bbcf0299;
$primary-color-59: #bbcf0296;
$primary-color-58: #bbcf0293;
$primary-color-57: #bbcf0291;
$primary-color-56: #bbcf028e;
$primary-color-55: #bbcf028c;
$primary-color-54: #bbcf0289;
$primary-color-53: #bbcf0287;
$primary-color-52: #bbcf0284;
$primary-color-51: #bbcf0282;
$primary-color-50: #bbcf027f;
$primary-color-49: #bbcf027c;
$primary-color-48: #bbcf027a;
$primary-color-47: #bbcf0277;
$primary-color-46: #bbcf0275;
$primary-color-45: #bbcf0272;
$primary-color-44: #bbcf0270;
$primary-color-43: #bbcf026d;
$primary-color-42: #bbcf026b;
$primary-color-41: #bbcf0268;
$primary-color-40: #bbcf0266;
$primary-color-39: #bbcf0263;
$primary-color-38: #bbcf0260;
$primary-color-37: #bbcf025e;
$primary-color-36: #bbcf025b;
$primary-color-35: #bbcf0259;
$primary-color-34: #bbcf0256;
$primary-color-33: #bbcf0254;
$primary-color-32: #bbcf0251;
$primary-color-31: #bbcf024f;
$primary-color-30: #bbcf024c;
$primary-color-29: #bbcf0249;
$primary-color-28: #bbcf0247;
$primary-color-27: #bbcf0244;
$primary-color-26: #bbcf0242;
$primary-color-25: #bbcf023f;
$primary-color-24: #bbcf023d;
$primary-color-23: #bbcf023a;
$primary-color-22: #bbcf0238;
$primary-color-21: #bbcf0235;
$primary-color-20: #bbcf0233;
$primary-color-19: #bbcf0230;
$primary-color-18: #bbcf022d;
$primary-color-17: #bbcf022b;
$primary-color-16: #bbcf0228;
$primary-color-15: #bbcf0226;
$primary-color-14: #bbcf0223;
$primary-color-13: #bbcf0221;
$primary-color-12: #bbcf021e;
$primary-color-11: #bbcf021c;
$primary-color-10: #bbcf0219;
$primary-color-09: #bbcf0216;
$primary-color-08: #bbcf0214;
$primary-color-07: #bbcf0211;
$primary-color-06: #bbcf020f;
$primary-color-05: #bbcf020c;
$primary-color-04: #bbcf020a;
$primary-color-03: #bbcf0207;
$primary-color-02: #bbcf0205;
$primary-color-01: #bbcf0202;
$primary-color-00: #bbcf0200;

$dark-contrast-color-100: #000000ff;
$dark-contrast-color-99: #000000fc;
$dark-contrast-color-98: #000000f9;
$dark-contrast-color-97: #000000f7;
$dark-contrast-color-96: #000000f4;
$dark-contrast-color-95: #000000f2;
$dark-contrast-color-94: #000000ef;
$dark-contrast-color-93: #000000ed;
$dark-contrast-color-92: #000000ea;
$dark-contrast-color-91: #000000e8;
$dark-contrast-color-90: #000000e5;
$dark-contrast-color-89: #000000e2;
$dark-contrast-color-88: #000000e0;
$dark-contrast-color-87: #000000dd;
$dark-contrast-color-86: #000000db;
$dark-contrast-color-85: #000000d8;
$dark-contrast-color-84: #000000d6;
$dark-contrast-color-83: #000000d3;
$dark-contrast-color-82: #000000d1;
$dark-contrast-color-81: #000000ce;
$dark-contrast-color-80: #000000cc;
$dark-contrast-color-79: #000000c9;
$dark-contrast-color-78: #000000c6;
$dark-contrast-color-77: #000000c4;
$dark-contrast-color-76: #000000c1;
$dark-contrast-color-75: #000000bf;
$dark-contrast-color-74: #000000bc;
$dark-contrast-color-73: #000000ba;
$dark-contrast-color-72: #000000b7;
$dark-contrast-color-71: #000000b5;
$dark-contrast-color-70: #000000b2;
$dark-contrast-color-69: #000000af;
$dark-contrast-color-68: #000000ad;
$dark-contrast-color-67: #000000aa;
$dark-contrast-color-66: #000000a8;
$dark-contrast-color-65: #000000a5;
$dark-contrast-color-64: #000000a3;
$dark-contrast-color-63: #000000a0;
$dark-contrast-color-62: #0000009e;
$dark-contrast-color-61: #0000009b;
$dark-contrast-color-60: #00000099;
$dark-contrast-color-59: #00000096;
$dark-contrast-color-58: #00000093;
$dark-contrast-color-57: #00000091;
$dark-contrast-color-56: #0000008e;
$dark-contrast-color-55: #0000008c;
$dark-contrast-color-54: #00000089;
$dark-contrast-color-53: #00000087;
$dark-contrast-color-52: #00000084;
$dark-contrast-color-51: #00000082;
$dark-contrast-color-50: #0000007f;
$dark-contrast-color-49: #0000007c;
$dark-contrast-color-48: #0000007a;
$dark-contrast-color-47: #00000077;
$dark-contrast-color-46: #00000075;
$dark-contrast-color-45: #00000072;
$dark-contrast-color-44: #00000070;
$dark-contrast-color-43: #0000006d;
$dark-contrast-color-42: #0000006b;
$dark-contrast-color-41: #00000068;
$dark-contrast-color-40: #00000066;
$dark-contrast-color-39: #00000063;
$dark-contrast-color-38: #00000060;
$dark-contrast-color-37: #0000005e;
$dark-contrast-color-36: #0000005b;
$dark-contrast-color-35: #00000059;
$dark-contrast-color-34: #00000056;
$dark-contrast-color-33: #00000054;
$dark-contrast-color-32: #00000051;
$dark-contrast-color-31: #0000004f;
$dark-contrast-color-30: #0000004c;
$dark-contrast-color-29: #00000049;
$dark-contrast-color-28: #00000047;
$dark-contrast-color-27: #00000044;
$dark-contrast-color-26: #00000042;
$dark-contrast-color-25: #0000003f;
$dark-contrast-color-24: #0000003d;
$dark-contrast-color-23: #0000003a;
$dark-contrast-color-22: #00000038;
$dark-contrast-color-21: #00000035;
$dark-contrast-color-20: #00000033;
$dark-contrast-color-19: #00000030;
$dark-contrast-color-18: #0000002d;
$dark-contrast-color-17: #0000002b;
$dark-contrast-color-16: #00000028;
$dark-contrast-color-15: #00000026;
$dark-contrast-color-14: #00000023;
$dark-contrast-color-13: #00000021;
$dark-contrast-color-12: #0000001e;
$dark-contrast-color-11: #0000001c;
$dark-contrast-color-10: #00000019;
$dark-contrast-color-09: #00000016;
$dark-contrast-color-08: #00000014;
$dark-contrast-color-07: #00000011;
$dark-contrast-color-06: #0000000f;
$dark-contrast-color-05: #0000000c;
$dark-contrast-color-04: #0000000a;
$dark-contrast-color-03: #00000007;
$dark-contrast-color-02: #00000005;
$dark-contrast-color-01: #00000002;
$dark-contrast-color-00: #00000000;

$light-contrast-color-100: #ffffffff;
$light-contrast-color-99: #fffffffc;
$light-contrast-color-98: #fffffff9;
$light-contrast-color-97: #fffffff7;
$light-contrast-color-96: #fffffff4;
$light-contrast-color-95: #fffffff2;
$light-contrast-color-94: #ffffffef;
$light-contrast-color-93: #ffffffed;
$light-contrast-color-92: #ffffffea;
$light-contrast-color-91: #ffffffe8;
$light-contrast-color-90: #ffffffe5;
$light-contrast-color-89: #ffffffe2;
$light-contrast-color-88: #ffffffe0;
$light-contrast-color-87: #ffffffdd;
$light-contrast-color-86: #ffffffdb;
$light-contrast-color-85: #ffffffd8;
$light-contrast-color-84: #ffffffd6;
$light-contrast-color-83: #ffffffd3;
$light-contrast-color-82: #ffffffd1;
$light-contrast-color-81: #ffffffce;
$light-contrast-color-80: #ffffffcc;
$light-contrast-color-79: #ffffffc9;
$light-contrast-color-78: #ffffffc6;
$light-contrast-color-77: #ffffffc4;
$light-contrast-color-76: #ffffffc1;
$light-contrast-color-75: #ffffffbf;
$light-contrast-color-74: #ffffffbc;
$light-contrast-color-73: #ffffffba;
$light-contrast-color-72: #ffffffb7;
$light-contrast-color-71: #ffffffb5;
$light-contrast-color-70: #ffffffb2;
$light-contrast-color-69: #ffffffaf;
$light-contrast-color-68: #ffffffad;
$light-contrast-color-67: #ffffffaa;
$light-contrast-color-66: #ffffffa8;
$light-contrast-color-65: #ffffffa5;
$light-contrast-color-64: #ffffffa3;
$light-contrast-color-63: #ffffffa0;
$light-contrast-color-62: #ffffff9e;
$light-contrast-color-61: #ffffff9b;
$light-contrast-color-60: #ffffff99;
$light-contrast-color-59: #ffffff96;
$light-contrast-color-58: #ffffff93;
$light-contrast-color-57: #ffffff91;
$light-contrast-color-56: #ffffff8e;
$light-contrast-color-55: #ffffff8c;
$light-contrast-color-54: #ffffff89;
$light-contrast-color-53: #ffffff87;
$light-contrast-color-52: #ffffff84;
$light-contrast-color-51: #ffffff82;
$light-contrast-color-50: #ffffff7f;
$light-contrast-color-49: #ffffff7c;
$light-contrast-color-48: #ffffff7a;
$light-contrast-color-47: #ffffff77;
$light-contrast-color-46: #ffffff75;
$light-contrast-color-45: #ffffff72;
$light-contrast-color-44: #ffffff70;
$light-contrast-color-43: #ffffff6d;
$light-contrast-color-42: #ffffff6b;
$light-contrast-color-41: #ffffff68;
$light-contrast-color-40: #ffffff66;
$light-contrast-color-39: #ffffff63;
$light-contrast-color-38: #ffffff60;
$light-contrast-color-37: #ffffff5e;
$light-contrast-color-36: #ffffff5b;
$light-contrast-color-35: #ffffff59;
$light-contrast-color-34: #ffffff56;
$light-contrast-color-33: #ffffff54;
$light-contrast-color-32: #ffffff51;
$light-contrast-color-31: #ffffff4f;
$light-contrast-color-30: #ffffff4c;
$light-contrast-color-29: #ffffff49;
$light-contrast-color-28: #ffffff47;
$light-contrast-color-27: #ffffff44;
$light-contrast-color-26: #ffffff42;
$light-contrast-color-25: #ffffff3f;
$light-contrast-color-24: #ffffff3d;
$light-contrast-color-23: #ffffff3a;
$light-contrast-color-22: #ffffff38;
$light-contrast-color-21: #ffffff35;
$light-contrast-color-20: #ffffff33;
$light-contrast-color-19: #ffffff30;
$light-contrast-color-18: #ffffff2d;
$light-contrast-color-17: #ffffff2b;
$light-contrast-color-16: #ffffff28;
$light-contrast-color-15: #ffffff26;
$light-contrast-color-14: #ffffff23;
$light-contrast-color-13: #ffffff21;
$light-contrast-color-12: #ffffff1e;
$light-contrast-color-11: #ffffff1c;
$light-contrast-color-10: #ffffff19;
$light-contrast-color-09: #ffffff16;
$light-contrast-color-08: #ffffff14;
$light-contrast-color-07: #ffffff11;
$light-contrast-color-06: #ffffff0f;
$light-contrast-color-05: #ffffff0c;
$light-contrast-color-04: #ffffff0a;
$light-contrast-color-03: #ffffff07;
$light-contrast-color-02: #ffffff05;
$light-contrast-color-01: #ffffff02;
$light-contrast-color-00: #ffffff00;
